.venv
.log
*.pyc
*.pyc
.idea/
__pycache__
node_modules/
portos/settings/local.py
portos/logs/
portos/serts/
/static/
/media/
*.sublime-project
*.sublime-workspace
touch.txt
.coverage
.cache
/test-reports/
